/* custom CSS for ABT.css */

body {
        background-color: #f5f8fe;
    	/*background: linear-gradient(0deg, #0A47C3, #f5f8fe 50%) no-repeat;*/
  	
}

a {
  color: #0A47C3;
}

 h1 a{

    font-family: "Jacques Francois Shadow";
    color: #0A47C3;
    font-size: 50px;

 }

 #row4 p {
  font-family: "EB Garamond";
  
 }

  svg {
    margin-top: 10px;
    margin-bottom: 20px;
 }

 .zigzag line {
    stroke: #0A47C3;
    stroke-width: 3;

 }

 
  #menu h2 {
    padding-top: 20px;
    font-family: "Cinzel";
    color: #0A47C3;
    font-size: 22px;
    padding-bottom: 15px;
    
 }

 #menu h2 a{
    font-family: "Cinzel";
    color: #0A47C3;
    font-size: 22px;

}


#silly h3 {
    font-family: "Cinzel";
    color: #0A47C3;
    display: inline;
    vertical-align: bottom;
    text-align: center;
}

.fi-social-github {
   font-size: 26px
}

.fi-social-linkedin {
   font-size: 26px
}


.full-width {
  	max-width: 500px;


  }
