/* custom CSS for Photos.html */

#map {
        height: 100%;
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
        vertical-align: middle;
}


body {
    background-color: #f5f8fe;
}

a {
  color: #0A47C3;
}

h1 a{

    font-family: "Jacques Francois Shadow";
    color: #0A47C3;
    font-size: 50px;

 }
  svg {
    margin-top: 10px;
    margin-bottom: 20px;
 }

 .zigzag line {
    stroke: #0A47C3;
    stroke-width: 7;

 }

 
  #menu h2 {
    padding-top: 20px;
    font-family: "Cinzel";
    color: #0A47C3;
    font-size: 22px;
 }

 #menu h2 a{
    font-family: "Cinzel";
    color: #0A47C3;
    font-size: 22px;
 
 }
li img {
    height: 300px;
    width: 300px;
    
}

li figcaption {
    font-family: "EB Garamond";
    font-size: 12px;
}

#descript {
    background: linear-gradient(90deg, #f5f8fe, #0A47C3, #f5f8fe 95%) no-repeat;
    
}
#descript h1 {
    font-family: "Cinzel";
    color: white;
}

#descript h5 {
    font-family: "EB Garamond";
    font-size: 22px;
    color: white;
}

#silly {
    padding-top: 10px;
    padding-bottom: 10px;
    


}


#silly h3 {
    font-family: "Cinzel";
    color: #0A47C3;
    display: inline;
    vertical-align: bottom;
    text-align: center;
    

.fi-social-github {
   font-size: 26px
}

.fi-social-linkedin {
   font-size: 26px
}