/* custom css for PROJ.html */
body {
    background-color: #f5f8fe;
}

 h1 a{

    font-family: "Jacques Francois Shadow";
    color: #0A47C3;
    font-size: 50px;

 }

 a {
  color: #0A47C3;
}

  svg {
    margin-top: 10px;
    margin-bottom: 20px;
 }

 .zigzag line {
    stroke: #0A47C3;
    stroke-width: 3;

 }

 
  #menu h2 {
    padding-top: 20px;
    font-family: "Cinzel";
    color: #0A47C3;
    font-size: 22px;
    padding-bottom: 15px;
    
 }

 #menu h2 a{
    font-family: "Cinzel";
    color: #0A47C3;
    font-size: 22px;

}

#row3 img {
  width: 300px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 4px; 
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
  
}

.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  font-family: "Cinzel";
  margin-top: 45%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }

.overlay-fade-in:hover img {
  transform: scale(1.8); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }



#silly h3 {
    font-family: "Cinzel";
    color: #0A47C3;
    display: inline;
    vertical-align: bottom;
    text-align: center;
}

.fi-social-github {
   font-size: 26px
}

.fi-social-linkedin {
   font-size: 26px
}


.full-width {
  	max-width: 800px;


  }
