</div>

<div class = "row">
	<div id ='silly' class = "text-center">
  <h3>&copy;2015 Lindsay Silver <a href = "https://github.com/silverli"><i class="fi-social-github"></i></a> <a href = "https://www.linkedin.com/profile/view?id=AAMAABgSA_gBlCGP2hg9-Yy-ZQiT-SpTK4SHGb0&trk=hp-identity-name"><i class="fi-social-linkedin"></i></a>  </h3>
	</div>
</div>
    
  
  
    <script src="{{ site.url }}/js/vendor/jquery.js"></script>
    <script src="{{ site.url }}/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
     
    