<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel='shortcut icon' href='{{ site.url }}/img/favicon.png' type='image/x-icon'/ >
    <meta charset="utf-8" />    
    <link rel = "stylesheet" href= "{{ site.url }}/css/foundation-icons/foundation-icons.css" />
    <link rel = "stylesheet" href= "{{ site.url }}/css/foundation-icons/foundation-icons.eot" />
    <link rel = "stylesheet" href= "{{ site.url }}/css/foundation-icons/foundation-icons.svg" />
    <link rel = "stylesheet" href= "{{ site.url }}/css/foundation-icons/foundation-icons.ttf" />
    <link rel = "stylesheet" href= "{{ site.url }}/css/foundation-icons/foundation-icons.woff" />
    <link rel="stylesheet" href="{{ site.url }}/css/foundation.css" />
    <script src="{{ site.url }}/js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/pdfobject.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Tangerine|Shadows+Into+Light|Special+Elite|EB+Garamond|Poiret+One|Sacramento|Cinzel|Cinzel+Decorative|Walter+Turncoat|Jacques+Francois+Shadow|PT+Serif|Jacques+Francois|Elsie' rel='stylesheet' type='text/css'>
    
   